{% extends "BookRecords/header.html" %}
    {% block title_block %}
    {% endblock %}
    {% block body_block %}
        <div class="row">
            <form action="/BookRecords/confirm/" method="POST">
                <div class="container-fluid">
                    <!-- 水平方向の横スクロールバーを加える -->
                    <div class="table-responsive col-auto">
                        <!-- 縞ストライプで見やすくする -->
                        <table class="table">
                            {% for formValue in form %}
                                {% if formValue.value %}
                                    <tr>
                                        <th>
                                            {{formValue.label}}
                                        </th>
                                    </tr>
                                    <td>
                                        {% if formValue.name == 'have' %}
                                            {% if formValue.value == '1' %}
                                                持っていない
                                            {% elif formValue.value == '2' %}
                                                買う予定
                                            {% elif formValue.value == '3' %}
                                                持っている
                                            {% endif %}
                                        {% else %}
                                            {{formValue.value}}
                                        {% endif %}
                                        {{ formValue.as_hidden }}
                                    </td>
                                {% else %}
                                    <tr>
                                        <th>
                                            {{formValue.label}}
                                        </th>
                                    </tr>
                                    <td>
                                        <span class="font_red">未入力</span>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </table>
                    </div>
                </div>
                {% csrf_token %}
                {% if command == 'reg' %}
                    <input name="done" class="btn btn--orange btn--cubic" type="submit" value="書籍情報を登録">
                    <input name="reg" type="hidden" value="">
                {% elif command == 'edit' %}
                    <input name="done" class="btn btn--orange btn--cubic" type="submit" value="書籍情報を修正">
                    <input name="edit" type="hidden" value="">
                    <input name="books_id" type="hidden" value="{{ books_id }}">
                {% elif command == 'delete' %}
                    <input name="done" class="btn btn--orange btn--cubic" type="submit" value="書籍情報を削除">
                    <input name="delete" type="hidden" value="">
                    <input name="books_id" type="hidden" value="{{ books_id }}">
                {% endif %}
            </form>
        </div>
        <div class="row">
            
        </div>
    {% endblock %}