{% extends "BookRecords/header.html" %}
    {% block title_block %}
    {% endblock %}
    {% block body_block %}
        <div class="row">
            <h5 class="text-center py-4">書籍管理一覧</h5>
            {% if BookList %}
                <ul class="list-group list-group-flush">
                    {% for books in BookList %}
                        <li class="list-group-item"><a href="/BookRecords/edit/{{ books.id }}/">{{ books.name }}</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                <p class="font_red text-center py-4">書籍が未登録です。</p>
            {% endif %}
        </div>
        <div class="row">
            <form action="reg/" method="POST">
                {% csrf_token %}
                <input name="list" class="btn btn--orange btn--cubic" type="submit" value="書籍の登録">
            </form>
        </div>
    {% endblock %}