{% extends "BookRecords/header.html" %}
    {% block title_block %}
    {% endblock %}
    {% block body_block %}
        <div class="row">
            <form action="/BookRecords/confirm/" method="POST">
                {% csrf_token %}
                <div class="name_field text-input m-b-3p">
                    {{ form.name }}
                    <label for="id_name">書籍名</label>
                    {{ form.name.errors }}
                </div>

                <div class="detail_field text-input m-b-3p">
                    {{ form.detail }}
                    <label for="id_detail">詳細</label>
                    {{ form.detail.errors }}
                </div>

                <div class="d-flex">
                    <div class="m-b-3p">
                        <label class="label_radio" for="">持っている？</label>
                    </div>
                    <div class="m-left-5p">
                        <fieldset>
                            {{ form.have }}
                            <input id="item-1" class="radio-inline__input" type="radio" name="accessible-radio" value="1"/>
                            <label class="radio-inline__label" for="item-1">
                                持っていない
                            </label>
                            <input id="item-2" class="radio-inline__input" type="radio" name="accessible-radio" value="2"/>
                            <label class="radio-inline__label" for="item-2">
                                買う予定
                            </label>
                            <input id="item-3" class="radio-inline__input" type="radio" name="accessible-radio" value="3"/>
                            <label class="radio-inline__label" for="item-3">
                                持っている
                            </label>
                          </fieldset>
                    </div>
                </div>

                <div class="release_date_field input-field">
                    <label for="id_release_date">発売日</label>
                    {{ form.release_date }}
                    {{ form.release_date.errors }}
                </div>
                <div class="submit_div">
                    <input name="reg" class="btn btn--orange btn--cubic" type="submit" value="入力内容の確認へ">
                    <input type="hidden" name="command" value="1">
                </div>
            </form>
        </div>
    {% endblock %}