/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap');


.font_red{
    color:#d7003a;
}

.f_cherry_swash{
    font-family: 'Cherry Swash', cursive;
}

.fsize_05em{
    font-size:0.5em;
}

/* ボタンデザイン */

input.btn--orange {
    color: #000;
    background-color: #FFB347;
    border-bottom: 5px solid 	#FF8547;
}
  
input.btn--orange:hover {
    margin-top: 3px;
    color: #000;
    background: #FFB347;
    border-bottom: 2px solid #FF8547;
}

.m-b-3p{
    margin-bottom: 3%;
}

.d-flex{
    display: flex;
}

.m-left-5p{
    margin-left: 5%;
}